= number_to_percentage(answers[:percentage])
%span.other= "(#{number_to_percentage(all_answers[:percentage])})"
- if internal
  %p
    JA:
    = answers[:answers].map { |answer| answer.contact.email } .join(', ')
