= number_to_percentage(answers[:percentage])
%span.other= "(#{number_to_percentage(all_answers[:percentage])})"
- if internal
  %p
    JA:
    = answers[:answers].map { |answer| contact_email_full(answer.contact) } .join(', ')
