<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Deine Bewerbung für das Programm Engagement mit Perspektive ist komplett, <%= @contact.first_name %> <%= @contact.last_name %></h1>
    <p>
      Du hast die nötige Anzahl an Referenzen, die Deine Bewerbung vervollständigen.
    </p>
    <p>Wir melden uns mit den Ergebnissen der Jury nach der Auswahlphase und bedanken uns für’s Mitmachen!<br/>
        Dein PEP-Team</p>
  </body>
</html>
