<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Your application is complete, <%= @contact.name %></h1>
    <p>
      You have received the required number of references to complete your application. Go you!
    </p>
    <p>Thanks for applying, and have a great day!</p>
  </body>
</html>
