- if references.size > 0
  %table.references
    %thead
      %tr
        %th Name
    %tbody
      - references.each do |reference|
        - campaign = reference.campaign
        %tr
          %td= link_to reference.contact.name, admin_reference_path(reference)
- else
  %p Es gibt noch keine Referenzen für diesen Antrag
