%h1= "Referenz von #{@reference.contact.name}"

%h2 Kontaktdaten
=render :partial => "admin/contacts/details", :locals => { :contact => @reference.contact }

%h2 Antworten
= render :partial => "admin/answers/table", :locals => { :answers => @reference.answers }

