%h1= "Reference for #{@reference.application.name}"

%h2 Referee
=render :partial => "admin/contacts/details", :locals => { :contact => @reference.contact }

%h2 Answers
= render :partial => "admin/answers/table", :locals => { :answers => @reference.answers }

