%h1 Alles erfolgreich gespeichert

%p
  Folgenden Link kannst du verschicken um Referenzen zu sammeln:
  =link_to 'Referenzen sammeln', new_campaign_application_reference_url(@campaign, @application)
