= form.semantic_fields_for :answers do |answer|
  = answer.inputs do
    = answer.input :text, label: answer.object.question.text
    = answer.input :question_id, as: :hidden, input_html: { value: answer.object.question.id }
