- add_subnavigation_item "Referenze-Formular", new_campaign_application_reference_url(@application.campaign, @application)
- add_subnavigation_item 'Bewerber-Formular (Schritt 2)', edit_campaign_application_path(@application.campaign, @application)
- add_subnavigation_item 'interne Auswertung', admin_application_summary_path(@application.id)
- add_subnavigation_item 'öffentliche Auswertung', summary_path(@application.summary_key)
- add_subnavigation_item 'Export', admin_application_export_path(@application.id, format: :csv)
- add_subnavigation_item "bearbeiten", edit_admin_application_path(@application.id)
