- if applications.size > 0
  %table.applications
    %thead
      %tr
        %th Name
        %th E-Mail
        %th Organiation
    %tbody
      - applications.each do |application|
        - campaign = application.campaign
        %tr
          %td= link_to application.contact.name, admin_application_path(application.id)
          %td= application.contact.email
          %td= application.contact.organisation
- else
  %p Es gibt noch keine Anträge
