%h1 Antr채ge f체r "#{@campaign.name}"

%h2 abgeschlossene Antr채ge
= render :partial => "table", :locals => { :applications => @complete_applications }

%h2 offene Antr채ge
= render :partial => "table", :locals => { :applications => @incomplete_applications }
