%h1 Campaigns

= link_to 'Kampagne anlegen', new_admin_campaign_path

%h2 Open campaigns
= render :partial => "table", :locals => { :campaigns => @open_campaigns }

%h2 Open for referees only
= render :partial => "table", :locals => { :campaigns => @referee_open_campaigns }

%h2 Closed campaigns
= render :partial => "table", :locals => { :campaigns => @closed_campaigns }

