%h1 Kampagnen

- add_subnavigation_item 'Kampagne anlegen', new_admin_campaign_path

- if @campaigns.size > 0
  %table.campaigns
    %thead
      %tr
        %th Name
    %tbody
      - @campaigns.each do |campaign|
        %tr
          %td= link_to campaign.name, admin_campaign_path(campaign.id)
- else
  %p Es gibt noch keine Kampagnen - leg doch eine an.

