%h1= "Kampagne #{@campaign.name}"

- add_subnavigation_item 'Fragen anzeigen', admin_campaign_questions_path(@campaign.id)
- add_subnavigation_item 'Bewerber-Formular (Schritt 1)', new_campaign_application_url(@campaign)
- add_subnavigation_item "bearbeiten", edit_admin_campaign_path(@campaign.id)

= render :partial => "admin/applications/table", :locals => { :applications => @campaign.applications }
