// fix display problem for long labels
.formtastic {
  .radio .choices {
    .choices-group {
      float: none;
    }
    .label {
      position: relative;
      width: 25%;
      label {
        position: relative;
      }
    }
  }

  // rates inline
  .rate .choices {
    .choice {
      display: inline;
    }
  }

  legend {
    color: #333333;
  }
}

input[type=submit] {
  background-color: #2489CE;
  background: linear-gradient(#2489CE, #073E64) #2489CE;
  border: 0;
  color: white;
  padding: 7px 20px !important;
  border-radius: 5px;
  text-shadow: 1px 1px #073E64;
  &:hover {
    background-color: #1892e7;
    background: linear-gradient(#1892e7, #073E64) #1892e7;
  }
  &:active {
    box-shadow: 0 0 2px 2px #073E64 inset;
  }
}
