body.admin {
  table {
    border: 1px solid #e3e3e3;
    width: 100%;
    border-spacing: 0;
    border-collapse:collapse;
    th, td {
      padding: 5px;
    }
    thead {
      th {
        background: #3e3e3e;
        color: white;
        font-weight: normal;
        text-align: left;
      }
    }
    tbody {
      td {
        border-bottom: 1px solid #e3e3e3;
      }
      th {
        background: #e3e3e3;
        border-bottom: 1px solid white;
      }
    }
  }

  header {
    nav {
      li {
        display: inline;
        a {
          padding: 10px;
          line-height: 40px;
          color: white;
          text-decoration: none;
          &:hover {
            color: #2489CE;
          }
        }
      }
    }

    #subnavigation ul {
      padding: 0;
      margin: 0;
      list-style: none;
      li {
        display: inline;
        a {
          padding: 10px;
          text-decoration: none;
          line-height: 30px;
          font-weight: normal;
          &:hover {
            color: white;
          }
        }
      }
    }
  }
}
