body.admin {
  margin: 60px 0 0 0;
  padding: 0;
  font-size: 10pt;
  font-family: sans-serif;
  color: #3e3e3e;

  #content {
    padding: 20px;
  }

  table {
    border: 1px solid #e3e3e3;
    width: 100%;
    border-spacing:0;
    border-collapse:collapse;
    th, td {
      padding: 5px;
    }
    thead {
      th {
        background: #3e3e3e;
        color: white;
        font-weight: normal;
        text-align: left;
      }
    }
  }

  a {
    color: #54A50B;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }

  nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 40px;
    width: 100%;
    background: #3e3e3e;
    color: white;
    font-size: 1.2em;
    li {
      display: inline;
      a {
        padding: 10px;
        line-height: 40px;
        color: #e3e3e3;
        &:hover {
          text-decoration: none;
          background: #e3e3e3;
          color: #3e3e3e;
        }
      }
    }
  }

  ul.sub-navigation {
    position: fixed;
    top: 40px;
    left: 0;
    background: #e3e3e3;
    padding: 0;
    margin: 0;
    list-style: none;
    li {
      display: inline;
      a {
        padding: 10px;
        text-decoration: none;
        line-height: 30px;
        color: #3e3e3e;
        &:hover {
          background: white;
        }
      }
    }
  }
}
